.vs
*.aps
*.cache
*.exe
*.FileListAbsolute.txt
*.idb
*.ilc
*.ild
*.ilf
*.ilk
*.ils
*.lastcodeanalysissucceeded
*.log
*.map
*.ncb
*.obj
*.opt
*.pdb
*.plg
*.res
*.sarif
*.tds
*.tlog
*.user
*.xml
UpgradeLog.htm
