// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (New Zealand) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENZ)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_NZ
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ID_ICON_MAIN            ICON                    "REVERSI.ICO"


/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

ID_CUR_BLANK            CURSOR                  "blank.cur"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

ID_MENU_MAIN MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&Hint",                       50
        MENUITEM "&Pass",                       20
        MENUITEM "&New",                        25
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       52
    END
    POPUP "&Skill"
    BEGIN
        MENUITEM "&Beginner",                   41
        MENUITEM "&Novice",                     42
        MENUITEM "&Expert",                     44
        MENUITEM "&Master",                     46
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About Reversi...",           MN_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

MAINACC ACCELERATORS
BEGIN
    "^H",           50,                     ASCII,  NOINVERT
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    3                       "Reversi"
    4                       "Reversi Practice Game"
    5                       "Pass"
    6                       "You must Pass"
    7                       "Tie Game"
    8                       "You Lost by "
    9                       "You Won by "
    10                      "About..."
    13                      "You may only move to a space where the cursor is a cross."
    14                      "You may not pass.  Move where the cursor is a cross."
END

#endif    // English (New Zealand) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

